# ============================================
# MandaGo — Variables de Entorno (Cliente)
# ============================================

EXPO_PUBLIC_GEOAPIFY_API_KEY=your-geoapify-access-token
EXPO_PUBLIC_API_URL=http://localhost:3000/api